body
{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container
{
    width: 90%;
    margin:0 auto;
}
.clear
{
    clear:both;
}

.top-row
{
    padding:10px 0px;
    margin-bottom:1%;   
}

.top-row li
{
    display:inline-block;
}
.top-row li a
{   text-decoration: none;
    font-size: 12px;
    padding-right:10px;
    padding-left:10px;
    display:inline-block;
}
.tleft
{
    float: left;
}
.email
{   
    float:left;
}
.contact-number
{
    float:left;
}

.tright
{
    float:right;
}
.second-row
{   font-size: 30px;
    padding-bottom:10px;
   
}
.second-row h1
{   float:left;
    padding-left:10px;
    padding-right:10px;
}
.secondleft
{
    float:left;
}
.secondright
{
    float:right;
    display: inline-block;
}
.secondright li a
{
    text-decoration: none;
    font-size: 12px;
    padding-right:10px;
    padding-left:10px;
    display:inline-block;
}
.secondright li a:hover
{
    color: cadetblue;
}
.secondright li
{
    display: inline-block;
}
.body
{
}
.banner
{
    height: 400px;
    background-image: url("../images/1.jpg");
    filter: blur(1px);
    -webkit-filter: blur(1px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.txt
{
    padding-top: 70px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 64px;
}
.ctc
{   
   
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    margin-top: 85px;
}
.ctcleft
{   font-size: 35px;
    
    display:inline-block;
    padding:2px;
    border-radius: 15px;
}
.ctcleft:hover
{
    border-radius: 15px;
}
.ctcright:hover
{
    border-radius: 15px;
}
.ctcright
{font-size: 35px;
    padding: 2px;
 
    display: inline-block;
    border-radius: 15px;
}
.ctcleft a
{   padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.ctcleft a:visited
{
    color: black;
}
.ctcright a:visited
{
    color: black;
}
.ctcleft a:hover,.ctcright a:hover
{
    color:blue;
    background-color: coral;
    border-radius: 15px;
}
.ctcright a
{   padding-left: 10px;
    padding-right: 10px;


    text-decoration: none;
}
.four
{   margin-top: 45px;
    height: 270px;
    margin-bottom: 50px;
  
}
.leftf
{
    height: 80%;
    width: 40%;

float:left;
background-image: url("../images/2.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
}
.rightf
{

width: 50%;
height: 100%;
float: right;
}
.rightf h2{
    color: blue;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 20px;
}
.rightf h3{
    font-size: 2vh;
    margin-bottom: 20px;
    font-family: cursive;

}
.rightf li
{
    font-size: 2vh;
    margin-bottom: 20px;
}
.services-row
{

    min-height: 130px;

}
.five
{
    margin-bottom: 50px;
}
.services
{
    margin-bottom:20px;
}
.services-header h2
{
    font-size: 32px;
    font-weight: bold;
    color:blue;
    padding:10px;

}
.services-header p
{   padding:10px 0px;
}

.services-row
{   
    height: 50vh;
}
.cta-top
{
height: 50%;
}
.cta-topleft
{   width: 49%;
    height: 99%;
    float: left;
    
}
.cta-topright
{
    height: 99%;
    width: 49%;
    float:right;
}
.cta-bottom
{
    height: 49%;
    
}
.cta-bottomleft
{
    width: 49%;
    height: 99%;
    float:left;
}
.cta-bottomright
{

    width: 49%;
    height: 99%;
    float: right;
}
.icon
{float: left;
    height: 99%;
    width: 30%;
}
.para
{
    width: 70%;
    float: left;
}
.icon img
{   
    height: 40%;
    width: 90%;
}
.para h2
{
    margin-bottom: 20px;
    font-weight: bold;
}
.six
{   
    margin: auto;
    height: auto;
    margin-bottom: 15vh;
}
.heading h2
{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.heading p
{
    margin-bottom: 10vh;
}
.clients img
{   width: 16%;
    height: fit-content;
    margin-top: 
    display: inline-block;
}

.seven
{
    margin: auto;
    margin-bottom: 40px;
}

.portrow1
{   
    height: 40vh;
}
.portrow2
{    height: 40vh;
}
.portrow1 img
{   margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 20vw;
    display: inline-block;
}
.eight
{
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.testimonials
{
    
}
.test1
{
    float:left;
}
.test2
{
    float:left;

}
.test3
{
    float: right;
}
.testimonials img
{
    width:33%;
    display: inline-block;
}

.nine
{
    background-color: blue;
    height: 20vh;
}
.nineleft
{   width: 70%;
    float: left;
}
.nineleft h2
{   font-size: 30px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
.nineleft p
{   font-size: 20px;
    color: white;
    padding-bottom: 10px;
    padding-right: 20px;
}
.nineright
{   height: 20vh;
     width: 30%;
    text-align: center; 
    float: right;
}
.nineright h2
{   
    margin: 13% 20%;
    padding: 15px;
    color: white;
    font-weight: bold;
    width: fit-content;
    border: 2px white solid;
}
.nineright h2:hover
{
    background-color: rgb(124, 243, 124);
}
.nine .container
{   height: 20vh;
    
}

.image-wrapper
{
    width: 100%;
    margin-top: 40px;
}

.image-wrapper .image
{
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.image-wrapper .image img
{
    width: 100%;
}
.image
{
    position: relative;
}
.image p
{   color: white;   
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 35%;
    top: 42%;
    z-index: 3;
}


.dummy
{   display: none;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.image:hover span
{
    display: block;
}

.image-wrapper .image a{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index:5;    
}